/* CSS reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

* {
    font-color: #3C373B;
    /* border: 1px solid black; */
  }
.container  {
  width: 1000px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}
h1 {
  font-family: 'Indie Flower', cursive;
  margin: 10px;
  font-size: 60px;
  text-align: center;
  color: blue;
  text-shadow: 1px 1px 2px grey;
}

h2, h3, h4, h5, h6 {
  font-family: 'Indie Flower', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
  color: blue;
  text-shadow: 1px 1px 2px grey;
}

p {
  font-size: 15px;
  font-family: Gotu;
  padding: 10px;
  line-height: 1.4;
}

img {
  border-radius: 10px;
  box-shadow: 2px 2px 4px #888888;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: lightcyan;
  display: flex;
  justify-content: space-evenly;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: cyan;
  color: black;
}

header img {
  max-width: 700px;
  
}

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.content-row-left {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0px;
}
.content-row-right {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px;
}

.contact-section{
  padding: 0;
  margin: 0 0 10px 0;
  border-top: 1px dashed black;
}

.contact-section address{
  line-height: 2;
  text-align: left;
}
footer nav {
  position: relative;
  overflow: hidden;
  background-color: lightcyan;
  display: flex;
  justify-content: space-evenly;
}
footer a {
  text-decoration: none;
}

a:hover {
  color: grey
}
footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
}
/* Responsive navigation menu 
(this alows me to set a fixed max width of 1000px, but auto adjust under 1000px) */
@media screen and (max-width: 1000px) {
  .container  {
    width: auto;
  }
  header img {
    max-width: 500px;
  }
}
/* Responsive navigation menu (for smaller devices) */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
  } 
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 500px) {

  h1 {
    font-size: 50px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  header img {
    max-width: 98%;
    border-radius: 10px;
    position: relative;
  }
  .content-row {
    display: block;
    border-top: 1px solid cyan;
    padding-top: 10px;
  }

  .content-row-left {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .content-row-right {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-section address{
    line-height: 2;
    text-align: center;
  }
}
